/* header.component.css */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa; /* Default background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
  width: 100%;
}

.left-nav,
.right-nav {
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

nav ul li {
  padding: 0 10px;
}

.right-nav {
  justify-content: flex-end;
}

.theme-toggle {
  position: relative;
  display: inline-block;
  width: 50px; /* Width of the toggle */
  height: 24px; /* Height of the toggle */
  margin-right: 10px;
}

.theme-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.toggle-label:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .toggle-label {
  background-color: #2196F3;
}

input:checked + .toggle-label:before {
  transform: translateX(26px); /* Adjust this to the width of your switch */
}




.toggle-inner:before,
.toggle-inner:after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: .4s;
  font-size: 12px; /* Adjust the font size as needed */
}

.toggle-inner:before {
  content: '☀'; /* Sun icon */
  left: 6px; /* Adjusted to move a bit to the right */
  color: #f1c40f; /* Sun color, adjust as needed */
}

.toggle-inner:after {
  content: '☾'; /* Moon icon */
  right: 10px; /* Increased to move the moon further to the left */
  color: #f39c12; /* Moon color, adjust as needed for visibility */
}

input:checked + .toggle-label .toggle-inner:before {
  opacity: 0;
}

input:checked + .toggle-label .toggle-inner:after {
  opacity: 0.7; /* Adjust as needed for visibility */
}