
<header>
    <nav>
      <div class="left-nav">
        <ul>
          <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
          <li><a routerLink="/languages" routerLinkActive="active">Languages</a></li>
        </ul>
      </div>
      <div class="right-nav">
        <ul>
          <!-- Theme toggle wrapped in an li element -->
          <li>
            <div class="theme-toggle">
              <input id="night-mode-toggle" type="checkbox" (change)="toggleNightMode()">
              <label for="night-mode-toggle" class="toggle-label">
                <span class="toggle-inner"></span>
              </label>
            </div>
          </li>
          <li><a routerLink="/signup" routerLinkActive="active">Signup</a></li>
          <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
        </ul>
      </div>
    </nav>
  </header>
  

  