<div *ngIf="weather" class="weather-widget">
  <div class="weather-info">
    <div class="weather-location">{{ weather.name }}</div>
    <p class="weather-label">Weather</p>
  </div>
  <div class="weather-status">{{ getWeatherIcon(weather.weather[0].description) }}</div>
  <div class="weather-temp-unit" (click)="toggleUnit()">
    <span class="weather-temp">{{ weather.main.temp }} °{{ unit === 'metric' ? 'C' : 'F' }}</span>
    <div class="weather-desc">{{ weather.weather[0].description }}</div>
  </div>
</div>
